/* main.css - Estilos globales */

/* Establecer el body como un contenedor flex */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa;
  animation: fadeIn 0.4s ease-out; /* Aplica la animación a todo el body */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Animación fadeIn */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* El footer debe estar al final, incluso si el contenido no es suficiente */
footer {
  margin-top: auto;
  background-color: #343a40;
  color: white;
  padding: 16px 0;
  text-align: center;
}

/* Navbar */
.navbar {
  background-color: #343a40 !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item {
  margin-left: 16px;
  margin-right: 16px;
}

.navbar-nav .nav-item .nav-link {
  transition: all 0.1s ease-in-out;
  color: #8a8a8a;
  padding: 8px 12px;
  border-radius: 8px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.03);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
