/* Establecer el body como un contenedor flex */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa;
}

/* El footer debe estar al final, incluso si el contenido no es suficiente */
footer {
  margin-top: auto;
}

.navbar .bg-primary {
  background-color: #343a40;
}

/* Navbar, ajusta la distancia entre los botones */
.navbar-nav .nav-item {
  margin-left: 32px;
  margin-right: 32px;
}

.navbar-nav .nav-item .nav-link {
  transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
  transform: scale(1.05);
  background-color: rgb(61, 61, 255);
  border-radius: 4px;
}
